.layout {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 240px);
  grid-template-rows: repeat(auto-fill, 240px);

  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 5px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  align-items: center;
  justify-content: center;
}

.card-A {
  background-image: url("https://d1rgjmn2wmqeif.cloudfront.net/r/g/456471-4.png");
}

.card-A:hover {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/d/d4/OasisDefinitelyMaybealbumcover.jpg");
}
